.container {
  padding: 20px;
}

.inputField {
  width: 260px;
}

.inputFieldParameter {
  width: 80px;
}

.label {
  font-weight: bold;
}

.formContainer {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}
