.container {
  padding: 20px;
}

.inputField {
  width: 360px;
}

.inputFieldParameter {
  width: 160px;
}

.label {
  font-weight: bold;
}

.success {
  color: #00A513;
}

.formContainer {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

.recentCommandsTable {
  margin-top: 20px;
}

.processedRow {
  color: #00A513;
}

.nonProcessedRow {

}
