.createDeviceContainer {
  width: 600px;
}

.fieldName {
  width: 80px;
  text-align: left;
}

.fieldValue {
  width: 300px !important;
}

.formItem {
  margin-bottom: 10px;
}

.actionButton {
  margin-right: 10px;
}
