.deviceItemContainer {
  width: 240px;
  height: 140px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  text-align: center;
  padding-top: 35px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14pt;
  color: #333333;
}

.deviceItemContainer:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.addDeviceItemContainer {
  border: dashed 1px #d5d5d5;
  color: #d5d5d5;
  width: 240px;
  height: 140px;
  border-radius: 6pt;
  padding: 10px;
  text-align: center;
  padding-top: 65px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.addDeviceItemContainer:hover {
  border: dashed 1px #a6a6a6;
  color: #000000;
}

.neverSeen {
  background-color: #dddddd;
}

.active {
  background-color: #DFFFE4;
}

.semiActive {
  background-color: beige;
}

.infoContainer {
  margin-top: 15px;
  color: #a6a6a6;
  font-size: 8pt;
  display: flex;
  div {
    width: 45%;
    p {
      color: #000000;
    }
  }
}
