.uconfy_logo {
    font-weight: bold;
    font-size: 32pt;
    text-decoration: none;
    color: #000000;
}

.uconfy_logo:hover {
    text-decoration: none;
}

.uconfy_logo_black {
    color: #000000;
    top: 10px;
    position: relative;
    text-decoration: none;
}

.uconfy_logo_black {
    text-decoration: none;
}

.nav_link {
    font-size: .875rem;
    margin-left: 30px;
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    border: solid 1px #ffffff;
}

.nav_link:hover {
    color: #007bff;
    text-decoration: underline;
}

.fullwidth {
    width: 100%;
}