.container {

}

.loginFormTable {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  tr {
    height: 50px;

    input {
      width: 300px !important;
      border-radius: 4px !important;
    }

    td #titleColumn {
      color: red;
    }
  }
}


