.container {
  border-radius: 20px;
  background: #AFD9FE;
  width: 95%;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;

  h1 {
    padding-top: 20px;
    font-size: 18pt;
    color: #386082;
  }
}

.inputContainer {
  width: 80%;
  margin: auto;
  background-color: #DAEDFE;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: left;

  div[class='form-group'] {
    margin-bottom: 0px;
  }
}

.label {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 11px;
  color: #9C9C9C;
}

.inputField {
  width: 100%;

  input:focus,
  input {
    border: solid 1px #DAEDFE;
    -webkit-box-shadow: 0 0 0 35px #DAEDFE inset !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
    border: solid 1px #DAEDFE;
    -webkit-box-shadow: 0 0 0 35px #DAEDFE inset !important;
  }
}

.loginButton {
  width: 80%;
  background-color: #68BBFF;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;

  &:hover {
    background-color: #4EAFFE;
  }

  &:disabled {
    background-color: #1093FF;
    cursor: not-allowed;
  }
}

.linkContainer {
  margin: auto;
  width: 95%;
  display: flex;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

  div {
    width: 50%;
  }

  div[id='forgotPassword'] {
    text-align: right;
  }
}
